[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = true
mouse_autohide = false
allow_bold = true
dynamic_title = true
urgent_on_bell = true
clickable_url = true
#font = xos4 Terminus 10
#font = Fira Code 13
font = t cherry 10
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
geometry = 440x310
# "system", "on" or "off"
cursor_blink = system

# "block", "underline" or "ibeam"
cursor_shape = underline

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# set size hints for the window
#size_hints = false

# Hide links that are no longer valid in url select overlay mode
filter_unmatched_urls = true

# emit escape sequences for extra modified keys
#modify_other_keys = false



[colors]

# special
foreground      = #cccccc
foreground_bold = #a1a1b5
cursor          = #a1a1b5
background      = #090909

# black
color0  = #24242e
color8  = #5b5b76

# red
color1  = #7676f4
color9  = #FF8397

# green
color2  = #FF8397
color10 = #333342

# yellow
color3  = #FF8397
color11 = #515167

# blue
color4  = #767693
color12 = #737391

# magenta
color5  = #FF8397
color13 = #cecee3

# cyan
color6  = #8a8aad
color14 = #FF8397

# white
color7  = #333333
color15 = #ebebff




[hints]
#font = Monospace 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
