alias s='sudo'
alias pacman='sudo pacman'
alias wifi='sudo wifi-menu'
alias down-wifi='sudo ip l set wlp3s0 down &&  sudo wifi-menu'
alias cutie='echo Samuel\ Frost'
alias loc='git ls-files | xargs wc -l'
alias clear-tmp='sudo /bin/rm -rf /tmp/* /tmp/.*'
alias ls='exa'
alias swim='sudo vim'

alias youtube-audio='youtube-dl --extract-audio --audio-format mp3 --audio-quality 0'

