#!/bin/zsh

function 0x0 {
	curl -F"file=@$1" https://0x0.st
}

function pushurl {
	git remote set-url --push --add origin "$1"
}

function say {
  espeak "$1" >/dev/null 2>&1
}

function ssc {
	echo "(compile-file \"$1\")" | scheme -q "${@:2}"
}

function please {
  HIST="$1"
  [ -z "$1" ] && HIST="1"

  COMMAND="$(history -$HIST | cut -c 8-)"
  echo $COMMAND
  sudo ${=COMMAND}
}

function webm2gif {
  ffmpeg -i "$1" -pix_fmt rgb24 "$2"
}

function 2webm {
  ffmpeg -i "$1" -c:v libvpx -crf 4 -b:v 600K -vf scale=1280:-1 -c:a libvorbis -threads 4 -an "$2"
}

function largest {
  sudo du -a "$1" | sort -n -r | head -n "$2"
}

function matlab {
  matlab2018b -nodisplay -nodesktop -nosplash -r "run('$1');"
}
